.presentation {
  height: 95vh;
  background-image: url("../images/background.jpg");
}
.presentation-container {
  margin-top: 30vh;
  margin-left: 7vw;
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.presentation-caption > a {
  color: white;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.page-location {
  color: gray;
}

.about-section {
  padding: 100px 20px;
  background-color: whitesmoke;
  display: flex;
}
.about-left {
  flex: 1;
  margin-left: 8vw;
}
.about-right {
  flex: 1;
  margin-left: 3vw;
  margin-right: 10vw;
}
.about-heading {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
}
.about-quote-container {
  margin: 10px;
  display: flex;
}
.quote-vertical-line {
  width: 80px;
  margin-top: 25px;
  border-top: 2px solid green;
}
.about-quote {
  margin: 20px 10px;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-size: 25px;
  color: gray;
}
.about-caption {
  font-size: 15px;
  color: black;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

/* Feature Section */
.feature-section {
  padding: 100px 20px;
  background-color: white;
}
.feature-headiing-container {
  padding: 10px;
}
.feature-heading {
  margin-left: 30vw;
  font-size: 45px;
  font-weight: bolder;
}
/* Testimonial Section */
.testimonial-section {
  height: 100vh;
  background-image: url(../images/about-us/back.jpg) no-repeat cover fixed;
}

.testimonial-heading {
  font-size: 45px;
  font-weight: bolder;
  margin-left: 40vw;
}
/* Award Section*/
.award-section {
  padding: 70px 60px;
  background-color: whitesmoke;
}
.awards-heading {
  padding: 30px;
}
.awards-head {
  font-weight: bolder;
  font-size: 45px;
  margin-left: 35vw;
  margin-bottom: 90px;
}
.awards-content {
  display: flex;
  margin: 40px;
}
.awards-content > a > img {
  flex: 1;
  margin: 25px;
}
.awards-content > a > img:hover {
  background-color: white;
  box-shadow: 1px 1px 18px grey;
}
