.presentation {
  position: relative;
}
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 64vh;
}
.presentation-content {
  box-sizing: border-box;
  position: absolute;
  top: 45vh;
}
.presentation-container {
  position: absolute;
  left: 40vw;
  top: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: "PT Serif", serif;
  text-align: center;
  text-transform: uppercase;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.presentation-caption > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.page-location {
  color: rgb(157, 157, 157);
}

.about-section {
  padding: 120px 30px;
  background-color: whitesmoke;
  display: flex;
}
.about-left {
  flex: 1;
  margin-left: 8vw;
}
.about-right {
  flex: 1;
  margin-left: 3vw;
  margin-right: 10vw;
}
.about-heading {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "PT Serif", serif;
}
.about-quote-container {
  margin: 10px;
  display: flex;
}
.quote-vertical-line {
  width: 80px;
  margin-top: 25px;
  border-top: 2px solid green;
}
.about-quote {
  margin: 20px 10px;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 25px;
  color: gray;
}
.about-caption {
  font-size: 15px;
  color: black;
  font-weight: 300;
}

/* Feature Section */
.feature-section {
  padding: 100px 20px;
  background-color: white;
}
.feature-heading-container {
  padding: 30px;
}
.feature-heading {
  margin-left: 30vw;
  font-size: 45px;
  font-family: "PT Serif", serif;

  font-weight: bolder;
}
.feature-item-container {
  display: flex;
  margin: 20px;
}
.feature-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0px;
}
.feature-item-icon-plate {
  width: 100px;
}
.feature-item-image {
  width: 90px;
  margin: 10px;
  padding: 10px;
}
.feature-item-name {
  display: block;
  margin: 10px;
}
.feature-item-name > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  font-family: "PT Serif", serif;
  color: black;
}
.feature-item-name > a:hover {
  color: green;
}
.feature-item-caption {
  font-size: 16px;
  margin: 10px;
}
.feature-row {
  display: flex;
}
.feature-col-right {
  flex: 1;
}
/* Testimonial Section */
.testimonial-section {
  height: 90vh;
}
.testimonial-background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  z-index: -1;
}
.testimonial-heading-container {
  padding-top: 90px;
}
.testimonial-heading {
  font-size: 45px;
  color: white;
  font-weight: bolder;
  margin-left: 40vw;
  font-family: "PT Serif", serif;
}
.testimonial-container {
  margin-top: 70px;
  font-size: 18px;
}
.testimonial-slide {
  color: white;
  z-index: 3;
}
.testimonial-item {
  margin-left: 25vw;
}
.testimonial-caption {
  font-size: 25px;
  max-width: 800px;
  text-align: center;
}
.testimonial-author {
  font-style: italic;
  font-size: 40px;
  margin-left: 15vw;
}
.prev-testimonial,
.next-testimonial {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-size: 30px;
  margin-left: 10vw;
}
.next-testimonial {
  margin-left: 70vw;
}
.prev-testimonial:hover,
.next-testimonial:hover {
  color: green;
}
.testimonial-images {
  margin-left: 38vw;
}
.testimonial-image {
  padding: 10px;
  border-radius: 50%;
}
/* Award Section*/
.award-section {
  padding: 70px 60px;
  background-color: whitesmoke;
}
.awards-heading {
  padding: 30px;
}
.awards-head {
  font-family: "PT Serif", serif;

  font-weight: bolder;
  font-size: 45px;
  margin-left: 35vw;
  margin-bottom: 90px;
}
.awards-content {
  display: flex;
  margin: 40px;
}
.awards-content > a > img {
  flex: 1;
  margin: 25px;
}
.awards-content > a > img:hover {
  background-color: white;
  box-shadow: 1px 1px 18px grey;
}
@media only screen and (max-width: 480px) {
  .background {
    height: 40vh;
  }
  .presentation-container {
    left: 20vw;
    top: 20vh;
  }
  .about-section {
    flex-direction: column;
    padding: 40px 10px;
  }
  .about-left {
    margin-left: 0;
  }
  .about-left > img {
    margin-left: 0;
    padding: 0px;
    width: 100%;
  }
  .about-right {
    margin-left: 3vw;
    margin-right: 0vw;
  }
  .about-heading {
    margin-top: 5vh;
    font-size: 35px;
  }
  .about-quote {
    font-size: 20px;
  }
  .about-caption {
    padding: 10px;
    font-size: 18px;
  }
  .feature-section {
    padding: 50px 20px;
  }
  .feature-heading {
    margin-left: 00vw;
    font-size: 30px;
    font-weight: bolder;
  }
  .feature-item-container {
    flex-direction: column;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-item-image {
    margin-left: 25vw;
  }
  .feature-item-name {
    text-align: center;
    margin: 0px;
  }
  .feature-item-caption {
    text-align: center;
  }

  .awards-heading {
    padding: 20px;
  }
  .awards-content {
    flex-direction: column;
    margin: 10px;
  }
  .testimonial-section {
    height: 70vh;
  }
  .testimonial-background {
    height: 100%;
  }
  .testimonial-heading {
    font-size: 40px;
    margin-left: 25vw;
  }
  .testimonial-item {
    margin: 30px;
    text-align: justify;
  }
  .testimonial-caption {
    font-size: 16px;
  }
  .awards-head {
    font-size: 30px;
    margin-left: 15vw;
    margin-bottom: 7px;
  }
  .testimonial-author {
    font-size: 20px;
    margin-left: 25vw;
  }
  .awards-content > a > img {
    margin: 10px;
  }
  .prev-testimonial,
  .next-testimonial {
    font-size: 20px;
  }
  .next-testimonial {
    margin-left: 60vw;
  }
  .testimonial-images {
    margin-top: 3vh;
    margin-left: 15vw;
  }
  .testimonial-image {
    padding: 5px;
    border-radius: 50%;
  }
}
