.presentation {
  position: relative;
}
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 64vh;
}
.presentation-content {
  box-sizing: border-box;
  position: absolute;
  top: 45vh;
}
.presentation-container {
  position: absolute;
  left: 40vw;
  top: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.presentation-caption > a {
  color: white;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.page-location {
  color: rgb(157, 157, 157);
}

.about-section {
  padding: 120px 30px;
  background-color: whitesmoke;
  display: flex;
}
.about-left {
  flex: 1;
  margin-left: 8vw;
}
.about-right {
  flex: 1;
  margin-left: 3vw;
  margin-right: 10vw;
}
.about-heading {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
}
.about-quote-container {
  margin: 10px;
  display: flex;
}
.quote-vertical-line {
  width: 80px;
  margin-top: 25px;
  border-top: 2px solid green;
}
.about-quote {
  margin: 20px 10px;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-size: 25px;
  color: gray;
}
.about-caption {
  font-size: 15px;
  color: black;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

/* Feature Section */
.feature-section {
  padding: 100px 20px;
  background-color: white;
}
.feature-heading-container {
  padding: 30px;
}
.feature-heading {
  margin-left: 30vw;
  font-size: 45px;
  font-weight: bolder;
}
.feature-item-container {
  display: grid;
  margin: 20px;
  grid-template-columns: 30vw 30vw 30vw;
}
.feature-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0px;
}
.feature-item-icon-plate {
  width: 100px;
}
.feature-item-image {
  width: 90px;
  margin: 10px;
  padding: 10px;
}
.feature-item-name {
  display: block;
  margin: 10px;
}
.feature-item-name > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  color: black;
}
.feature-item-name > a:hover {
  color: green;
}
.feature-item-caption {
  font-size: 16px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
}
.feature-row {
  display: flex;
}
.feature-col-right {
  flex: 1;
}
/* Testimonial Section */
.testimonial-section {
  height: 70vh;
}
.testimonial-background {
  position: absolute;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100vw;
  z-index: -1;
}
.testimonial-heading {
  font-size: 45px;
  color: white;
  padding: 100px;
  font-weight: bolder;
  left: 34vw;
  position: absolute;
}
/* Award Section*/
.award-section {
  padding: 70px 60px;
  background-color: whitesmoke;
}
.awards-heading {
  padding: 30px;
}
.awards-head {
  font-weight: bolder;
  font-size: 45px;
  margin-left: 35vw;
  margin-bottom: 90px;
}
.awards-content {
  display: flex;
  margin: 40px;
}
.awards-content > a > img {
  flex: 1;
  margin: 25px;
}
.awards-content > a > img:hover {
  background-color: white;
  box-shadow: 1px 1px 18px grey;
}

/*  */
