.presentation {
  position: relative;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
}
.presentation-container {
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: "PT Serif", serif;
  text-transform: uppercase;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.presentation-caption > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.page-location {
  color: rgb(157, 157, 157);
}
.contact-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
}
.contact-description > div {
  flex: 1;
  padding: 20px 80px;
}
.contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon {
  height: 100px;
  padding: 20px;
}
.contact-heading {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "PT Serif", serif;
}
.contact-heading > a {
  text-decoration: none;
  color: black;
}
.contact-heading > a:hover {
  color: #41a451;
}
.contact-caption {
  display: block;
  font-size: 18px;
  text-align: center;
  color: gray;
}
/* Maps */
.google-maps {
  position: relative;
  padding-bottom: 600px;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  width: 100% !important;
  height: 600px !important;
}
/* Form */
.form-section {
  background-color: whitesmoke;
}
.form-header {
  text-align: center;
  padding-top: 80px;
}
.form-heading {
  font-size: 50px;
  font-family: "PT Serif", serif;
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.input-form {
  width: 700px;
  height: 40px;
  padding: 10px;
  border: none;
  margin: 10px;
  font-size: 16px;
  outline: none;
}
#sentButton {
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  padding: 20px 70px;
  background-color: #41a451;
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
  margin-top: 50px;
}
#sentButton:hover {
  background-color: black;
  cursor: pointer;
}
#messageInput {
  white-space: nowrap;
  border: none;
  font-size: 16px;
  height: 20vh;
}
@media only screen and (max-width: 480px) {
  .presentation {
    height: 200px;
  }
  .background {
    height: 200px;
  }
  .presentation-container {
    margin-top: 40px;
  }
  .presentation-head {
    font-size: 25px;
  }
  .contact-description {
    flex-direction: column;
    padding: 20px;
  }
  .contact-description > div {
    padding: 5px;
  }
  .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  .contact-heading > a {
    font-size: 20px;
    padding: 0px 20px;
  }
  .contact-caption {
    font-size: 14px;
    padding: 10px 0px;
  }
  .google-maps {
    position: relative;
    padding-bottom: 250px;
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    width: 100% !important;
    height: 250px !important;
  }
  .form-section {
    padding: 10px;
  }
  .form-header {
    padding: 20px;
  }
  .form-heading {
    font-weight: 700;
    font-size: 25px;
  }
  .form-container {
    margin: 10px 0;
  }
  .input-form {
    border: 1px solid black;
    width: 300px;
    border: none;
    font-size: 20px;
  }
  #messageInput {
    font-size: 20px;
  }
  #sentButton {
    padding: 20px 150px;
  }
}
