.presentation {
  height: 110vh;
}
.background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/background.jpg");
  width: 100vw;
  height: 110vh;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: cover;
  animation-duration: 5s;
  animation-name: slidein;
}
@keyframes slidein {
  0% {
    transform: rotate(0.02deg);
  }
  25% {
    transform: rotate(0.01deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0.1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#responsive-menu {
  background-color: #323232;
  z-index: 3;
  height: 100vh;
  width: 70vw;
}
.toogle {
  font-size: 20px;
  color: red;
}
.presentation-content {
  box-sizing: border-box;
  position: absolute;
  top: 45vh;
}
.banner-heading {
  text-align: center;
  font-size: 70px;
  color: white;
  margin-bottom: 0px;
  font-family: "PT Serif", serif;
  text-transform: uppercase;
}
.banner-hr {
  width: 100px;
  margin: 20px 0px;
  background-color: white;
  margin-left: 46%;
}
.banner-caption {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: auto 300px;
}
/*Header Element Css Ends*/
/*CTA Froms Start */
.cta-form {
  position: relative;
  top: -150px;
  padding: 20px auto;
  z-index: 1;
}
.form-block {
  margin-left: 5vw;
  margin-top: 50px;
  font-size: 25px;
  width: 90vw;
  z-index: 1;
  display: flex;
  background-color: snow;
  border-radius: 20px;
  box-shadow: 0px 0px 50px grey;
}
.cta-form-container {
  display: flex;
  margin: 50px 30px;
  background-color: snow;
  width: 85vw;
}
.cta-form-item {
  flex: 1;
  justify-content: space-around;
}
.cta-form-line {
  border-right: 2px solid gray;
  flex: 1;
  margin-right: 30px;
}
.label-heading {
  font-size: 16px;
  text-transform: uppercase;
  color: gray;
  display: block;
  font-family: "PT Serif", serif;
}
.label-input {
  width: 200px;
  height: 10vh;
  border: none;
  font-size: 18px;
  color: gray;
  background-color: snow;
}
*:focus {
  outline: none;
}

.select-label {
  width: 35px;
  color: gray;
}

#ctaBook {
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #323232;
  cursor: pointer;
  color: snow;
  margin: 30px;
  outline: none;
  width: 10vw;
  margin-top: 20px;
  margin-right: 10px; important;
}
#ctaBook:hover {
  background-color: green;
}
/* CTA Forms End*/

/* About section CSS*/

.about {
  background-color: whitesmoke;
  display: flex;
  padding-top: 150px;
  margin-top: -265px;
  padding-left: 150px;
  padding-bottom: 50px;
}
.about > div {
  margin: 50px;
  padding: 25px 0px;
  justify-content: space-around;
}
.about__left {
  padding-left: 2vw;
  position: relative;
  left: 0;
  top: 0;
  margin-left: 200px;
}
.about-back-img {
  position: relative;
  z-index: 1;
}
.about-img {
  position: absolute;
  left: 10vh;
  top: -38px;
  z-index: 1;
}
.about-sign {
  margin-top: 20px;
  justify-content: baseline;
}
.about-heading {
  font-size: 50px;
  margin-top: -8px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #0d0e0d;
  font-family: "PT Serif", serif;
}
.about-caption {
  font-weight: 300;
  margin: 10px auto;
  font-size: 15px;
  max-width: 500px;
  line-height: 25px;
}
/*About Element CSS End*/

/*Featured CSS Starts*/
.featured {
  padding: 50px 0px;
  text-align: center;
}

.featured-head {
  font-size: 50px;
  margin-bottom: 30px;
}
.featured-caption {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 1em;
  margin: 0 400px;
  color: gray;
  max-width: 700px;
}
.featured-items {
  display: flex;
  margin: 5vh;
  margin-left: 10vw;
}
.featured-items > div {
  padding: 20px;
}
.featured-item-1,
.featured-item-2,
.featured-item-3 {
  position: relative;
}
.item-links > img {
  width: 23vw;
}
.item-links > a {
  text-decoration: none;
  text-transform: uppercase;
}

.dish-name {
  font-weight: bolder;
  margin-top: 15px;
  text-decoration: none;
  color: black;
}

.link-normal-dish-name {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
.link-normal-dish-price {
  margin-top: 20px;
  text-decoration: none;
  color: green;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: green;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 10px;
}
.middle :hover {
  background-color: #323232;
}

.item-links:hover .image {
  opacity: 0.6;
}

.item-links:hover .middle {
  opacity: 1;
}

/* Restaurant Menu Starts */
.res-menu {
  padding: 50px 0;
  background-color: whitesmoke;
  padding-bottom: 100px;
}
.res-menu-heading {
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
  font-family: "PT Serif", serif;
}
.res-menu-container {
  margin-left: 16vw;
  background-color: #323232;
  display: flex;
  width: 70vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.res-menu-tab-head {
  background-color: #323232;
  color: rgb(99, 99, 99);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  padding: 50px 0px;
  margin: 5px;
}
.top-caption {
  margin: 80px;
}
.tab-head-first {
  margin-left: 30vh;
}
.tab-head-last {
  margin-right: 30vh;
}
.res-menu-captions {
  background-color: snow;
  margin-left: 16vw;
  padding: 10px;
  width: 69vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: justify;
}
.res-menu-item-price {
  color: green;
  font-size: 18px;
  display: block;
  margin: 10px;
  padding: 1px 100px;
}
.res-menu-item-name {
  color: black;
  font-size: 25px;
  display: block;
  font-weight: 700;
  margin: 10px;
  font-family: "PT Serif", serif;
  padding: 1px 100px;
}
.res-menu-item-name > a {
  color: black;
  text-decoration: none;
}
.res-menu-item-name > a:hover {
  color: green;
}
.res-menu-item-caption {
  display: block;
  color: black;
  font-size: 14px;
  margin: 10px;
  margin-bottom: 50px;
  padding: 1px 100px;
}
.res-menu-tab-head:hover {
  color: rgb(255, 255, 255);
}
.tabcontent {
  display: none;
  padding: 50px 0px;
}
/* Gallary Section */

.gallary-container {
  width: 70vw;
}
.gallary-row {
  cursor: pointer;
  display: flex;
  width: 30vh;
}
.gallary-item-row-one {
  flex: 1;
  width: 33.4vw;
}
.gallary-item-row-two {
  flex: 1;
  width: 50vw;
}
.gallary-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
}
.close-modal {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 20px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}
.gallarySlides {
  display: none;
}
.prev-slide,
.next-slide {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  top: 40vh;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-slide:hover,
.next-slide:hover {
  color: green;
}
/* Recent News Section  */
.recent-news-section {
  padding: 50px 0px;
  margin-bottom: 30px;
}
.recent-news-heading {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 30px;
  margin-bottom: 90px;
}
.recent-news {
  margin-bottom: 50px;
}
.recent-news-items {
  display: flex;
}
.recent-news-item {
  flex: 1;
  margin-left: 20px;
  justify-content: space-around;
}
.item-date {
  margin: 10px;
  display: block;
}
.item-date > a {
  padding: 10px;
  font-size: 15px;
  background-color: #323232;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.item-date > a:hover {
  background-color: green;
}
.item-title {
  margin: 10px;
  display: block;
  margin-top: 30px;
  max-width: 550px;
}
.item-title > a {
  font-size: 22px;
  color: black;
  font-family: "PT Serif", serif;

  text-decoration: none;
}
.item-title > a:hover {
  color: green;
}
.item-caption {
  margin-top: 20px;
  display: block;
  font-size: 16px;
  margin: 5px;
  margin-top: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}
.item-link {
  margin: 5px;
  margin-top: 30px;
}
.item-link > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.item-link > a:hover {
  text-decoration: none;
  color: green;
}
.recent-news-container {
  max-width: 80vw;
  margin-left: 10vw;
}
.recent-news-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.recent-news-dot:hover {
  background-color: green;
}
@media only screen and (max-width: 480px) {
  .background {
    position: absolute;
    width: 100vw;
    height: 90vh;
    z-index: -1;
  }

  .presentation-content {
    top: 40vh;
  }
  .banner-heading {
    font-size: 50px;
  }
  .banner-hr {
    width: 100px;
    margin: 20px 0px;
    background-color: white;
    margin-left: 35vw;
  }
  .banner-caption {
    font-size: 20px;
    margin: auto 30px;
  }
  .cta-form {
    position: relative;
    top: -30vh;
    padding: 10px;
    z-index: 1;
  }
  .form-block {
    margin: 10px;
    padding: 20px;
    margin-top: 50px;
    font-size: 25px;
    width: 80vw;
    flex-direction: column;
  }
  .cta-form-container {
    flex-direction: column;
    margin: 50px 30px;
    background-color: snow;
    width: 70%;
  }
  .label-heading {
    font-size: 18px;
    margin-top: 20px;
  }
  .label-input {
    border-bottom: 1px solid gray;
  }
  #ctaBook {
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px 20px;
    font-size: 14px;
    background-color: #323232;
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
    color: snow;
    margin: 30px;
    outline: none;
    width: 25vh;
    margin-top: 50px;
  }
  .about {
    flex-direction: column;
    padding-top: 90px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  .about > div {
    margin: 20px;
    padding: 20px 0px;
    justify-content: center;
  }
  .about__left {
    padding-left: 0px;
    margin-left: 0px;
  }
  .about-back-img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .about-img {
    width: 70%;
    left: 7vh;
    top: -23px;
  }
  .about-sign {
    margin-top: 20px;
    justify-content: baseline;
  }
  .about-heading {
    font-size: 30px;
  }
  .featured-head {
    font-size: 30px;
  }
  .featured-caption {
    font-size: 15px;
    margin: 10%;
    max-width: 90%;
  }
  .featured-items {
    flex-direction: column;
    margin: 50px 30px;
  }
  .dish-name {
    margin-top: 5px;
  }
  .dish-price {
    margin: 10px;
  }
  .res-menu-heading {
    font-size: 30px;
  }
  .res-menu-container {
    margin-left: 16vw;
    flex-direction: column;
    width: 75%;
  }
  .res-menu-tab-head {
    padding: 20px 0px;
    margin: 5px;
  }
  .top-caption {
    margin: 20px;
  }
  .res-menu-captions {
    margin: 0px 16vw;
    padding: 10px;
    width: 70vw;
  }
  .res-menu-item-price {
    font-size: 14px;
    margin: 1px;
    padding: 1px;
  }
  .res-menu-item-name {
    font-size: 18px;
    margin: 1px;
    padding: 1px;
  }
  .res-menu-item-caption {
    font-size: 12px;
    line-height: 25px;
    margin: 1px;
    text-align: left;
    margin-bottom: 50px;
    padding: 1px;
  }
  .gallary-container {
    width: 100%;
  }
  .gallary-row {
    flex-direction: column;
  }
  .gallary-item-row-one {
    width: 100vw;
  }
  .gallary-item-row-two {
    width: 100vw;
  }
  .gallary-modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 1px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    background-color: #323232;
  }
  .modal-content {
    position: relative;
    margin: 1px;
    padding: 0;
    width: 90%;
  }
  .recent-news-heading {
    font-size: 25px;
    margin-bottom: 60px;
  }
  .recent-news-items {
    flex-direction: column;
  }
  .item-date {
    margin-top: 1px;
    margin: 15px 10px;
  }
  .item-title {
    margin-top: 10px;
    margin: 15px 10px;
  }
  .item-caption {
    margin-top: 20px;
    margin: 15px 10px;
  }
  .item-link {
    margin: 15px 10px;
    margin-top: 0px;
  }
  .item-link > a {
    margin-bottom: 400px;
  }
}
