/*
Author: 
Author URI: 
*/

/*==========================================
1. Global []
2. Presentation Section []
3. Resrvation Section []
4. About Section
5. Featured Section
6. Restaurant Menu

==========================================*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Imports */
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
/* Global CSS Start */

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  width: 100%;
  font-family: "pt serif", "times new roman", Times, serif;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #41a451;
  color: white;
}
*::selection {
  background-color: #41a451;
  color: white;
}
/* Header Section*/
.header {
  position: absolute;
  display: flex;
  z-index: 3;
  background-color: #323232;
  position: fixed;
  top: 0;
  width: 100vw;
}
.header-logo-container {
  flex: 1;
}
.header-logo {
  justify-content: flex-start;
  margin: 30px;
}
.header-nav-bar {
  flex: 5;
}
.header-nav-links {
  list-style: none;
  display: flex;
  padding: 0px 40px;
  justify-content: center;
  margin-top: 50px;
}
.header-nav-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 600;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  margin: 0px 30px;
}
.active-nav-bar {
  color: green;
}
.header-nav-link:hover {
  color: green;
}
.headaer-cta-container {
  flex: 1;
  margin: 30px;
}
#ctaHeader {
  margin: 30px;
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid white;
  font-family: poppins, sans-serif;
}
#ctaHeader:hover {
  outline: none;
  background-color: black;
  color: snow;
  border: 1px solid black;
}

/* Top Button*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: black;
}

/* Footer */
.footer {
  background-color: #323232;
  padding: 50px;
  height: 65vh;
}
.footer-logo {
  padding-top: 70px;
  display: block;
  text-align: center;
}
.footer-link-container {
  margin-top: 40px;
  width: 20vw;
  margin-left: 34vw;
}
.footer-links {
  display: flex;
  text-align: center;
}
.vertical-line {
  margin: 0px 5px;
  border-right: 1px solid white;
}
.footer-link {
  flex: 1;
  margin-left: 10px;
  margin-top: 30px;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
.footer-link > a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
}
.footer-link > a:hover {
  color: green;
}
.footer-social-link-container {
  padding-top: 10px;
}
.footer-social-links {
  display: flex;
  width: 10px;
  margin-left: 430px;
}
.footer-social-link {
  flex: 1;
  list-style: none;
  justify-content: space-around;
  font-size: 10px;
  margin: 15px;
}
.footer-social-link > a {
  text-decoration: none;
  color: white;
}
.footer-caption {
  text-align: center;
  margin-top: 70px;
  font-size: 15px;
  color: rgb(151, 151, 151);
}
.footer-caption > a {
  color: rgb(151, 151, 151);
  text-decoration: none;
}
.footer-caption > a:hover {
  color: green;
}
.footer-social-link > a > i {
  background-color: rgb(70, 70, 70);
  border-radius: 50%;
  border: 1x solid grey;
  padding: 10px;
  font-size: 30px;
}
.footer-social-link > a > i:hover {
  background-color: green;
}
/*Footer CSS end*/

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
  }
  .header {
    flex-direction: column;
  }
  .header-logo {
    margin: 10px;
    padding: 20px;
    margin-left: 30%;
  }
  .header-nav-links {
    display: none;
    flex-direction: column;
  }
  #ctaHeader {
    display: none;
  }
  .footer {
    height: 70vh;
    padding: 0;
  }
  .footer-logo {
    padding: 50px;
  }
  .footer-link-container {
    margin-top: 4px;
    width: 10px;
    margin-left: 30vw;
  }
  .footer-links {
    flex: 1;
    margin-left: 0;
    margin-top: 0;
    justify-content: center;
    flex-direction: column;
  }
  .vertical-line {
    display: none;
  }
  .footer-social-links {
    width: 1px;
    margin-left: -15px;
  }
  .footer-social-link-container {
    padding-top: 0px;
  }
  .footer-social-link > a > i {
    padding: 10px;
    font-size: 20px;
  }
  .footer-caption {
    font-size: 15px;
    color: rgb(151, 151, 151);
  }
}
