.presentation {
  position: relative;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/back.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
  height: 550px;
  width: 100%;
}
.presentation-content {
  box-sizing: border-box;
  position: absolute;
}
.presentation-container {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  font-family: var(--theme-sec-font);
  text-align: center;
  text-transform: uppercase;
  margin: 120px 0 30px;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  font-family: var(--theme-pri-font);
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.presentation-caption > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
}
.page-location {
  color: rgb(157, 157, 157);
  margin-left: 10px;
}

.about-section {
  padding: 120px 100px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.about-left {
  flex: 1;
}
.about-right {
  flex: 1;
  margin-right: 30px;
}
.about-heading {
  font-weight: 700;
  line-height: 54px;
  font-family: var(--theme-sec-font);
}
.about-heading > h2 {
  font-size: 45px;
  margin-top: 0px;
}
.about-quote-container {
  margin: 10px;
  display: flex;
}
.quote-vertical-line {
  width: 80px;
  margin-top: 25px;
  border-top: 2px solid var(--theme-highlight);
}
.about-quote {
  margin: 10px;
  font-family: var(--theme-sec-font);
  font-style: italic;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(21, 21, 21, 0.7);
  width: 470px;
}
.about-caption {
  font-size: 15px;
  color: rgba(21, 21, 21, 0.8);
  font-weight: 300;
  line-height: 25px;
  width: 610px;
}

/* Feature Section */
.feature-section {
  display: flex;
  flex-direction: column;
  padding: 110px 60px 80px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.feature-heading-container {
  padding-bottom: 30px;
}
.feature-heading {
  font-size: 45px;
  font-family: var(--theme-sec-font);
  font-weight: 700;
}
.feature-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.feature-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px;
  align-items: center;
  width: 380px;
  justify-content: center;
}
.feature-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
}
.feature-col-right {
  flex: 1;
  justify-content: center;
}
.feature-item-icon-plate {
  width: 100px;
}
.feature-item-image {
  width: 80px;
  margin: 10px;
  padding: 10px;
}
.feature-item-name {
  display: block;
}
.feature-item-name > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  font-family: var(--theme-sec-font);
  color: black;
}
.feature-item-name > a:hover {
  color: var(--theme-highlight);
}
.feature-item-caption {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  width: 250px;
  color: rgba(21, 21, 21, 0.8);
  width: 270px;
}
.feature-row {
  display: flex;
}
.feature-col-right {
  flex: 1;
}
/* Testimonial Section */
.testimonial-section {
  padding-bottom: 135px;
}
.testimonial-background {
  position: absolute;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.22) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  z-index: -1;
}
.testimonial-heading-container {
  padding-top: 125px;
}
.testimonial-heading {
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: white;
  font-weight: 700;
  font-family: var(--theme-sec-font);
}
.testimonial-container {
  margin-top: 20px;
  font-size: 18px;
}
.testimonial-slide {
  color: white;
  z-index: 3;
}
.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  width: 700px;
  text-align: center;
  font-style: italic;
}
.testimonial-author {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.testimonial-buttons > a > i {
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.prev-testimonial {
  flex: 1;
  position: relative;
  top: -100px;
  left: 10%;
}
.next-testimonial {
  flex: 1;
  position: relative;
  top: -100px;
  left: 90%;
}

.testimonial-images {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.testimonial-image {
  padding: 10px;
  border-radius: 50%;
}
/* Award Section*/
.award-section {
  padding: 70px;
  background-color: whitesmoke;
}
.awards-heading {
  padding: 30px;
}
.awards-head {
  font-family: var(--theme-sec-font);
  font-weight: bolder;
  font-size: 45px;
  display: flex;
  font-weight: 700;
  justify-content: center;
}
.awards-content {
  display: flex;
  margin: 10px 50px;
  justify-content: center;
}
.awards-content > a > img {
  margin: 15px;
}
.awards-content > a > img:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 12px grey;
}

@media (max-width: 1024px) {
  .presentation {
    height: 250px;
  }
  .background {
    background-attachment: fixed;
    height: 250px;
  }
  .about-section {
    padding: 100px 50px;
  }
  .about-left > img {
    width: 450px;
  }
  .about-right {
    margin-left: 10px;
  }
  .about-heading > h2 {
    font-size: 28px;
  }
  .about-quote {
    font-size: 22px;
  }
  .about-caption {
    font-size: 15px;
  }
  .feature-section {
    padding: 110px 50px;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-item-image {
    width: 120px;
  }
  .feature-item-name > a {
    display: flex;
    justify-content: center;
  }
  .feature-item-caption {
    font-size: 16px;
    text-align: center;
    width: 600px;
  }
  .feature-item-container {
    flex-direction: column;
  }
  .testimonial-caption {
    width: 650px;
  }
  .awards-content > a > img {
    margin: 30px 10px;
    width: 100%;
  }
}
@media (max-width: 786px) {
  .about-section {
    flex-direction: column;
    padding: 50px 30px;
  }
  .about-left > img {
    width: 440px;
  }
  .about-heading > h2 {
    font-size: 28px;
  }
  .about-quote {
    font-size: 22px;
  }
  .feature-section {
    padding: 50px 30px;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-heading {
    font-size: 28px;
  }
  .feature-item-name > a {
    display: flex;
    justify-content: center;
  }
  .feature-item-image {
    width: 80px;
  }

  .feature-item-caption {
    width: 400px;
    text-align: center;
  }
  .testimonial-heading {
    font-size: 28px;
  }
  .testimonial-caption {
    font-size: 18px;
  }
  .testimonial-author {
    font-size: 18px;
  }
  .testimonial-caption {
    width: 430px;
  }
  .award-section {
    padding: 50px 0px;
  }
  .awards-heading {
    padding: 0;
  }
  .awards-head {
    font-size: 28px;
  }
  .awards-content {
    flex-wrap: wrap;
    margin: 0;
    margin-top: 60px;
  }
  .awards-content > a > img {
    margin: 20px 0px;
    width: 250px;
  }
}
@media (max-width: 420px) {
  .presentation {
    height: 200px;
  }
  .background {
    height: 200px;
  }
  .presentation-head {
    margin-top: 40px;
    font-size: 25px;
  }
  .about-section {
    flex-direction: column;
    padding: 40px 10px;
  }
  .about-left > img {
    margin-left: 0;
    padding: 0px;
    width: 100%;
  }

  .about-heading {
    margin-top: 5px;
    font-size: 28px;
  }
  .about-quote {
    font-size: 22px;
  }
  .about-caption {
    padding: 0px 10px;
    font-size: 15px;
  }
  .feature-section {
    padding: 50px 20px;
  }
  .feature-heading {
    font-size: 28px;
    font-weight: 500;
  }
  .feature-item-container {
    flex-direction: column;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-item-image {
    width: 50px;
  }
  .feature-item-name {
    text-align: center;
    margin: 0px;
    font-size: 22px;
  }
  .feature-item-caption {
    text-align: center;
    width: 340px;
  }
  .testimonial-container {
    margin: 0px;
  }
  .testimonial-heading {
    font-size: 28px;
  }
  .testimonial-item {
    margin: 30px;
    text-align: justify;
  }
  .testimonial-caption {
    font-size: 18px;
    line-height: 30px;
    width: 300px;
  }
  .testimonial-author {
    font-size: 18px;
  }
  .testimonial-buttons {
    padding: 0px 20px;
  }
  .award-section {
    padding: 50px 0;
  }
  .awards-head {
    font-size: 30px;
  }
  .awards-heading {
    padding: 0px;
  }
  .awards-content {
    margin: 10px;
    flex-wrap: wrap;
  }
  .awards-content > a > img {
    margin: 20px 0px;
    width: 170px;
  }
  .feature-heading-container {
    padding: 10px;
  }
  .feature-item {
    width: 330px;
  }
}
