.presentation {
  position: relative;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/back.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
  height: 550px;
  width: 100%;
}
.presentation-content {
  box-sizing: border-box;
  position: absolute;
}
.presentation-container {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: var(--theme-sec-font);
  text-align: center;
  text-transform: uppercase;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  font-family: var(--theme-pri-font);
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.presentation-caption > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.page-location {
  color: rgb(157, 157, 157);
}

.about-section {
  padding: 120px 100px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.about-left {
  flex: 1;
}
.about-right {
  flex: 1;
}
.about-heading {
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--theme-sec-font);
}
.about-heading > h2 {
  font-size: 45px;
}
.about-quote-container {
  margin: 10px;
  display: flex;
}
.quote-vertical-line {
  width: 80px;
  margin-top: 25px;
  border-top: 2px solid var(--theme-highlight);
}
.about-quote {
  margin: 10px;
  font-family: var(--theme-sec-font);
  font-style: italic;
  font-size: 25px;
  color: gray;
}
.about-caption {
  font-size: 15px;
  color: rgba(21, 21, 21, 0.8);
  font-weight: 300;
}

/* Feature Section */
.feature-section {
  display: flex;
  flex-direction: column;
  padding: 110px 60px;
  width: 90%;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.feature-heading-container {
  padding: 30px;
}
.feature-heading {
  font-size: 45px;
  font-family: var(--theme-sec-font);
  font-weight: 700;
}
.feature-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px;
  align-items: center;
  width: 380px;
  justify-content: center;
}
.feature-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
}
.feature-col-right {
  flex: 1;
  justify-content: center;
}
.feature-item-icon-plate {
  width: 100px;
}
.feature-item-image {
  width: 80px;
  margin: 10px;
  padding: 10px;
}
.feature-item-name {
  display: block;
  margin: 10px;
}
.feature-item-name > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  font-family: var(--theme-sec-font);
  color: black;
}
.feature-item-name > a:hover {
  color: var(--theme-highlight);
}
.feature-item-caption {
  font-size: 14px;
  margin: 10px;
  width: 250px;
}
.feature-row {
  display: flex;
}
.feature-col-right {
  flex: 1;
}
/* Testimonial Section */
.testimonial-section {
  height: 600px;
}
.testimonial-background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  z-index: -1;
}
.testimonial-heading-container {
  padding-top: 50px;
}
.testimonial-heading {
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: white;
  font-weight: 700;
  font-family: var(--theme-sec-font);
}
.testimonial-container {
  margin-top: 70px;
  font-size: 18px;
}
.testimonial-slide {
  color: white;
  z-index: 3;
}
.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-caption {
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  font-style: italic;
}
.testimonial-author {
  font-size: 30px;
}
.testimonial-buttons {
  display: flex;
  cursor: pointer;
  padding: 16px 200px;
  color: white;
  font-size: 50px;
}
.prev-testimonial {
  flex: 1;
}
.prev-testimonial:hover,
.next-testimonial:hover {
  color: var(--theme-highlight);
}
.testimonial-images {
  display: flex;
  justify-content: center;
}
.testimonial-image {
  padding: 10px;
  border-radius: 50%;
}
/* Award Section*/
.award-section {
  padding: 70px;
  background-color: whitesmoke;
}
.awards-heading {
  padding: 30px;
}
.awards-head {
  font-family: var(--theme-sec-font);
  font-weight: bolder;
  font-size: 45px;
  display: flex;
  font-weight: 700;
  justify-content: center;
}
.awards-content {
  display: flex;
  margin: 10px 50px;
  justify-content: center;
}
.awards-content > a > img {
  margin: 15px;
}
.awards-content > a > img:hover {
  background-color: white;
  box-shadow: 5px 5px 30px grey;
}

@media (max-width: 1024px) {
  .about-section {
    padding: 100px 50px;
  }
  .about-left > img {
    width: 450px;
  }
  .about-right {
    margin-left: 10px;
  }
  .about-heading > h2 {
    font-size: 28px;
  }
  .about-quote {
    font-size: 22px;
  }
  .about-caption {
    font-size: 15px;
  }
  .feature-section {
    padding: 110px 50px;
  }
  .feature-item-container {
    flex-direction: column;
  }
  .testimonial-caption {
    width: 650px;
  }

  .awards-content {
    flex-direction: column;
    justify-content: center;
  }
  .awards-content > a > img {
    margin: 20px 250px;
  }
}
@media (max-width: 786px) {
  .about-section {
    flex-direction: column;
    padding: 100px 30px;
  }
  .about-left > img {
    width: 440px;
  }
  .about-heading > h2 {
    font-size: 28px;
  }
  .about-quote {
    font-size: 22px;
  }
  .feature-section {
    padding: 100px 30px;
  }
  .feature-heading {
    font-size: 28px;
  }
  .testimonial-heading {
    font-size: 28px;
  }
  .testimonial-caption {
    font-size: 18px;
  }
  .testimonial-author {
    font-size: 18px;
  }
  .testimonial-caption {
    width: 430px;
  }
  .awards-content > a > img {
    margin: 20px 0px;
  }
}
@media (max-width: 420px) {
  .presentation {
    height: 200px;
  }
  .background {
    height: 200px;
  }
  .presentation-head {
    margin-top: 40px;
    font-size: 25px;
  }
  .about-section {
    flex-direction: column;
    padding: 40px 10px;
  }
  .about-left > img {
    margin-left: 0;
    padding: 0px;
    width: 100%;
  }
  .about-right {
  }
  .about-heading {
    margin-top: 5px;
    font-size: 28px;
  }
  .about-quote {
    font-size: 22px;
  }
  .about-caption {
    padding: 0px 10px;
    font-size: 15px;
  }
  .feature-section {
    padding: 50px 20px;
  }
  .feature-heading {
    font-size: 28px;
    font-weight: 500;
  }
  .feature-item-container {
    flex-direction: column;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-item-image {
    width: 50px;
  }
  .feature-item-name {
    text-align: center;
    margin: 0px;
    font-size: 22px;
  }
  .feature-item-caption {
    text-align: center;
  }
  .testimonial-background {
    height: 600px;
    width: 100%;
    z-index: -1;
  }
  .testimonial-container {
    margin: 0px;
  }
  .testimonial-heading {
    font-size: 28px;
  }
  .testimonial-item {
    margin: 30px;
    text-align: justify;
  }
  .testimonial-caption {
    font-size: 18px;
    line-height: 30px;
    width: 300px;
  }
  .testimonial-author {
    font-size: 18px;
  }
  .testimonial-buttons {
    padding: 0px 20px;
  }
  .award-section {
    padding: 50px;
  }
  .awards-head {
    font-size: 30px;
  }
  .awards-heading {
    padding: 0px;
  }
  .awards-content {
    margin: 10px;
    flex-direction: column;
    align-items: center;
  }
  .awards-content > a > img {
    margin: 10px;
    width: 170px;
  }
  .feature-heading-container {
    padding: 10px;
  }
  .feature-item {
    width: 330px;
  }
}
