.main-banner {
  position: relative;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  z-index: -1;
}
.presentation-container {
  color: white;
  display: flex;
  flex-direction: column;
}
.presentation-head {
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: var(--theme-sec-font);
  text-transform: uppercase;
}
.presentation-caption {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
.presentation-caption > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.page-location {
  color: rgb(157, 157, 157);
}
.contact-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
  margin: 0px 100px;
}
.contact-description > div {
  flex: 1;
  padding: 20px 80px;
}
.contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon {
  height: 100px;
  padding: 20px;
}
.contact-heading {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: var(--theme-sec-font);
}
.contact-heading > a {
  text-decoration: none;
  color: black;
}
.contact-heading > a:hover {
  color: var(--theme-highlight);
}
.contact-caption {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 10px 0px;
  font-weight: 100;
  color: #737373;
}
/* Maps */
.google-maps {
  position: relative;
  padding-bottom: 600px;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  width: 100% !important;
  height: 600px !important;
}
/* Form */
.form-section {
  background-color: whitesmoke;
  padding: 110px 0;
}
.form-header {
  text-align: center;
}
.form-heading {
  font-size: 36px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 30px;
  font-family: var(--theme-sec-font);
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.input-form {
  font-family: var(--theme-pri-font);
  width: 600px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  display: block;
  padding: 16px 25px;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  color: #151515;
  background-color: #fff;
  background-image: none;
  border-radius: 5px;
  -webkit-appearance: none;
  transition: 0.3s ease-in-out;
  border: 1px solid #c4c4c4;
}
#sentButton {
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  padding: 20px 70px;
  background-color: var(--theme-highlight);
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
  margin-top: 20px;
}
#sentButton:hover {
  background-color: black;
  cursor: pointer;
}
#messageInput {
  white-space: nowrap;
  font-size: 16px;
  height: 100px;
  transition: 0.3s ease-in-out;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
#messageInput::placeholder {
  font-family: var(--theme-pri-font);
}
@media (max-width: 1279px) {
  .contact-description {
    margin: 0px 20px;
    padding: 100px 0px;
  }
  .contact-description > div {
    padding: 20px 40px;
  }
  .contact-icon {
    height: 80px;
  }
  .form-section {
    padding: 100px 0;
  }
  .form-heading {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .main-banner {
    height: 200px;
  }
  .background {
    height: 200px;
  }
  .presentation-container {
    margin-top: 40px;
  }
  .presentation-head {
    font-size: 25px;
  }
  .contact-description {
    flex-direction: column;
    padding: 50px 20px;
  }
  .contact-description > div {
    padding: 5px;
  }
  .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  .contact-heading > a {
    font-size: 20px;
  }
  .contact-caption {
    font-size: 14px;
    padding: 10px 0px;
    color: rgba(21, 21, 21, 0.8);
  }
  .google-maps {
    position: relative;
    padding-bottom: 250px;
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    width: 100% !important;
    height: 250px !important;
  }
  .form-section {
    padding: 100px 0;
  }
  .form-header {
    padding-bottom: 20px;
  }
  .form-heading {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
  }
  .form-container {
    margin: 10px 0;
  }
  .input-form {
    width: 65%;
    font-size: 15px;
  }
  #messageInput {
    font-size: 15px;
  }
  #sentButton {
    width: 75%;
    padding: 20px;
  }
}
@media (max-width: 420px) {
  .contact-description {
    margin: 50px 0;
  }
  .form-section {
    padding: 50px 0;
  }
  .input-form {
    width: 65%;
    font-size: 15px;
  }
  #messageInput {
    font-size: 15px;
  }
  #sentButton {
    width: 76%;
    padding: 20px;
  }
}
