.main-banner {
  height: 120vh;
  display: flex;
  align-items: center;
}
.banner-background {
  position: absolute;
  background-image: linear-gradient(
      rgba(18, 18, 18, 0.6) 0.91%,
      rgba(18, 18, 18, 0.28) 47.77%,
      rgba(39, 42, 55, 0.75) 99.52%
    ),
    url("../images/background.jpg");
  background-size: cover;
  z-index: -1;
  left: 0px;
  right: 0px;
  bottom: -100px;
  top: -30px;
}
.main-banner-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7%;
}
.main-banner-heading {
  text-align: center;
  font-size: 80px;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 0.8px;
  line-height: 86px;
  font-family: var(--theme-sec-font);
  text-transform: uppercase;
  font-weight: 700;
}
.main-banner-line {
  width: 60px;
  margin: 0 0 30px;
  background-color: white;
}
.main-banner-caption {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 0 430px;
  font-weight: 300;
  line-height: 30px;
}

/*CTA Froms Start */
.cta-form-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: -200px;
  z-index: 1;
}
.form-block {
  font-size: 25px;
  z-index: 2;
  display: flex;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
}
.box {
  z-index: -10;
  box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.2);
}
.cta-form-container {
  display: flex;
  margin: 50px 10px;
  background-color: white;
  justify-content: center;
  align-content: center;
}
.cta-form-line {
  border-right: 1px solid #e7e7e7;
  flex: 1;
  margin-right: 30px;
}
.label-heading {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 400;
  display: block;
  font-family: var(--theme-pri-font);
  color: rgba(0, 0, 0, 0.8);
}
.label-input {
  width: 200px;
  height: 20px;
  border: none;
  color: black;
  font-size: 18px;
  background-color: white;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input::placeholder {
  color: black;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
*:focus {
  outline: none;
}

.custom-select {
  position: relative;
  font-size: 18px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: none;
}

.select-selected.select-arrow-active:after {
  top: 7px;
}

.select-items div {
  color: white;
  width: 60px;
  background-color: black;
  padding: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.select-selected {
  color: black;
  background-color: white;
  padding: 4px 2px;
  border: none;
  cursor: pointer;
}
.select-items {
  position: absolute;
  color: black;
  top: 60%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: black;
  background-color: white;
}
.date-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#ctaBook {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  padding: 15px 20px;
  font-family: var(--theme-pri-font);
  font-size: 15px;
  line-height: 23px;
  background-color: #323232;
  cursor: pointer;
  color: white;
  border: none;
}
#ctaBook:hover {
  background-color: var(--theme-highlight);
}
/* CTA Forms End*/

/* About section CSS*/

.about-section {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px;
  padding-top: 220px;
  margin-top: -320px;
}
.about-section > div {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.about-left-section {
  position: relative;
  margin-left: 30px;
}
.about-background-img {
  padding-top: 0px;
  position: relative;
  width: 438;
  height: 427;
  border-radius: 7px;
}
.about-foreground-img {
  position: absolute;
  z-index: 1;
  top: -64px;
  left: 60px;
}
.about-right-section {
  padding-left: 170px;
}
.about-heading {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  margin-top: 0px;
  font-weight: bold;
  font-family: var(--theme-sec-font);
}
.about-caption {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 15px;
  width: 490px;
  color: rgba(21, 21, 21, 0.8);
  line-height: 25px;
}
.about-signature {
  margin-top: 20px;
}
/*About Element CSS End*/

/*Featured CSS Starts*/
.featured-section {
  background-color: white;
  padding-top: 115px;
  padding-bottom: 90px;
  text-align: center;
}
.featured-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-heading {
  font-size: 45px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: var(--theme-sec-font);
}
.featured-caption {
  font-weight: 300;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 40px;
  color: rgba(21, 21, 21, 0.7);
  max-width: 700px;
}
.featured-items {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-items > div {
  padding: 0 15px;
  margin: 0;
}
.featured-item-con {
  position: relative;
}
.item-links > img {
}
.item-links > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--theme-sec-font);
}
.dish-name {
  font-weight: bolder;
  margin-top: 15px;
  text-decoration: none;
  margin-bottom: 0px;
}
.dish-price {
  margin-top: 10px;
}

.link-normal-dish-name {
  text-decoration: none;
  font-family: var(--theme-sec-font);
  color: black;
  font-weight: 400;
  line-height: 36px;
  font-size: 26px;
}
.link-normal-dish-price {
  text-decoration: none;
  color: var(--theme-highlight);
  font-family: var(--theme-pri-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}
.middle {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  text-align: center;
}
.text {
  background-color: var(--theme-highlight);
  color: white;
  text-transform: uppercase;
  font-family: var(--theme-pri-font);
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
}
.middle :hover {
  background-color: #323232;
}
.featured-item-con:hover .image {
  opacity: 1;
}
.featured-item-con:hover .middle {
  opacity: 1;
  box-shadow: 0px 30px 100px black;
}
/* Restaurant Menu Starts */
.restaurant-menu {
  padding: 115px 0;
  background-color: whitesmoke;
  padding-bottom: 100px;
}
.res-menu-heading {
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 60px;
  font-family: var(--theme-sec-font);
}
.res-menu-container {
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 135px;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.res-menu-tab-head {
  color: rgb(99, 99, 99);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--theme-pri-font);
  padding: 50px 45px;
  list-style: none;
  transition: all 0.3s;
}
.white {
  color: white;
}
.top-caption {
  padding: 45px 30px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}
.res-menu-captions {
  background-color: white;
  margin: 0 135px;
  margin-bottom: px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: justify;
}
.menu-tab-content {
  padding: 0px 160px;
}
.res-menu-item-price {
  color: var(--theme-highlight);
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  display: block;
  margin: 15px 0;
}
.res-menu-item-name {
  color: black;
  font-size: 26px;
  line-height: 36px;

  display: block;
  font-weight: 400;
  margin: 15px 0;
  font-family: var(--theme-sec-font);
}
.res-menu-item-name > a {
  color: black;
  text-decoration: none;
}
.res-menu-item-name > a:hover {
  color: var(--theme-highlight);
}
.res-menu-item-name > a:active {
  color: var(--theme-highlight);
}
.res-menu-item-caption {
  display: block;
  color: rgba(21, 21, 21, 0.8);
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  margin: 10px 0;
  margin-bottom: 40px;
}
.res-menu-tab-head:hover {
  color: rgb(255, 255, 255);
}
.tabcontent {
  display: none;
  padding: 50px 0px;
}
/* Gallary Section */

.gallary-container {
  width: 70vw;
}
.gallary-row {
  cursor: pointer;
  display: flex;
  width: 30vh;
}
.gallary-item-row-one {
  flex: 1;
  width: 33.3vw;
}
.gallary-item-row-two {
  flex: 1;
  width: 50vw;
}
.gallary-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-modal {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 20px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: var(--theme-highlight);
  text-decoration: none;
  cursor: pointer;
}
.gallarySlides {
  display: none;
}
.gallarySlides > img {
  width: 70%;
  margin: 10% 20%;
}
.prev-slide,
.next-slide {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev-slide {
  left: 0;
}
.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-slide:hover,
.next-slide:hover {
  color: var(--theme-highlight);
}
/* Recent News Section  */
.recent-news-section {
  padding: 115px 0px;
}
.recent-news-heading > h2 {
  font-size: 45px;
  text-align: center;
  font-family: var(--theme-sec-font);
  margin: 0;
}
.recent-news {
  margin-bottom: 40px;
}
.recent-news-items {
  display: flex;
  justify-content: space-between;
}
.recent-news-container {
  margin: 0px 150px;
  margin-top: 40px;
  width: 82%;
}
.recent-news-item {
  flex: 1;
  padding: 33px 10px;
}
.news-item-date {
  margin-top: 10px;
  display: block;
}
.news-item-date > a {
  padding: 4px 10px;
  font-size: 15px;
  background-color: #323232;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.news-item-date > a:hover {
  background-color: var(--theme-highlight);
}
.news-item-title {
  display: block;
  margin-top: 30px;
  width: 375px;
}
.news-item-title > a {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: black;
  font-family: var(--theme-sec-font);
  text-decoration: none;
}
.news-item-title > a:hover {
  color: var(--theme-highlight);
}
.news-item-caption {
  margin-top: 20px;
  width: 350px;
  display: block;
  color: rgba(21, 21, 21, 0.8);
  font-size: 15px;
  margin-top: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}
.news-item-link {
  position: absolute;
}
.news-item-link > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.news-item-link > a:hover {
  text-decoration: none;
  color: var(--theme-highlight);
}

.recent-news-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active-dots,
.recent-news-dot:hover {
  background-color: var(--theme-highlight);
}
@media (max-width: 1439px) {
  .about-section {
    padding: 110px 40px;
    padding-top: 200px;
  }
  .about-heading {
    line-height: 34px;
  }
  .res-menu-container {
    margin: 0 70px;
  }
  .res-menu-captions {
    margin: 0 70px;
  }
  .recent-news-container {
    margin: 0px 70px;
  }
  .recent-news-heading > h2 {
    margin-bottom: 30px;
  }
  .news-item-title {
    width: 370px;
  }
}
@media (max-width: 1279px) {
  .main-banner {
    background-position: left;
    height: 1400px;
  }
  .banner-background {
    background-size: cover;
  }
  .main-banner-caption {
    margin: 0px 200px;
  }
  .label-input {
    width: 200px;
    font-size: 14px;
  }
  .label-input::placeholder {
    font-size: 16px;
    word-spacing: 1.5px;
  }
  .cta-form-line {
    margin-right: 10px;
  }
  #ctaBook {
    text-transform: uppercase;
    font-size: 12px;
  }
  .about-section {
    padding: 110px 20px;
    padding-top: 200px;
  }
  .about-left-section {
    margin-left: 20px;
  }
  .about-background-img {
    width: 500px;
  }
  .about-foreground-img {
    top: -50px;
    left: 70px;
  }
  .about-right-section {
    padding-left: 30px;
  }

  .about-heading {
    font-size: 28px;
  }
  .about-caption {
    font-weight: 200;
    margin-bottom: 15px;
    font-size: 15px;
    width: 420px;
  }
  .item-links > img {
    width: 300px;
  }
  .news-item-title {
    width: 300px;
  }
  .featured-caption {
    margin-bottom: 20px;
  }
  .recent-news-container {
    margin: 0px 50px;
  }
  .res-menu-container {
    margin: 0px 30px;
  }
  .res-menu-captions {
    margin: 0 30px;
  }
  .menu-tab-content {
    padding: 0px 10px;
  }
  .res-menu-heading {
    font-size: 28px;
  }
  .news-item-caption {
    width: 280px;
  }
}
@media (max-width: 1023px) {
  .main-banner {
    height: 500px;
  }
  .banner-background {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .label-input {
    width: 400px;
  }
  .about-section {
    padding: 50px;
    padding-top: 200px;
  }
  .about-left-section {
    margin-left: 0px;
  }
  .about-background-img {
    width: 380px;
  }
  .about-foreground-img {
    top: 345px;
    left: 50px;
    width: 65%;
  }
  .about-right-section {
    padding-left: 40px;
  }
  .about-heading {
    font-size: 28px;
    line-height: 26px;
  }
  .about-caption {
    margin-bottom: 15px;
    font-size: 12px;
    color: rgba(21, 21, 21, 0.8);
    line-height: 25px;
  }
  .item-links > img {
    width: 380px;
  }
  .recent-news-container {
    margin: 10px 0px;
  }
  .news-item-title {
    width: 400px;
  }
  .news-item-caption {
    width: 400px;
  }
  recent-news-section {
    padding: 50px 0;
    width: 85%;
  }
  .recent-news-item {
    padding: 33px;
  }

  .recent-news-item {
    flex: 1;
    padding: 30px 60px;
  }
}
@media (max-width: 768px) {
  .main-banner {
    height: 460px;
  }
  .banner-background {
    position: absolute;
    height: 460px;
    background-size: cover;
    z-index: -1;
  }
  .main-banner-heading {
    font-size: 30px;
    margin-bottom: -20px;
  }
  .main-banner-line {
    width: 50px;
    margin: 20px 0px;
  }
  .main-banner-caption {
    margin: 0 10px;
  }
  .cta-form-container {
    flex-direction: column;
    margin: 10px 20px;
  }
  .cta-form-section {
    top: -115px;
  }
  .form-cta {
    width: 100%;
  }
  .label-heading {
    margin-top: 20px;
    font-size: 18px;
    margin: 5px -40px;
  }
  .label-input {
    height: 30px;
    width: 400px;
    border-bottom: 1px solid gray;
    margin: 0 -40px;
    margin-bottom: 15px;
  }
  #ctaBook {
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    margin: 10px -40px;
  }
  .date-selector {
    -webkit-appearance: "";
    -moz-appearance: "";
    appearance: "";
  }
  .select-label {
    border-bottom: 1px solid gray;
    width: 400px;
    border-radius: 0;
    margin: 10px -40px;
  }
  .form-block {
    padding: 10px 50px;
  }
  .about-section {
    margin-top: -550px;
    padding-bottom: 15px;
    flex-direction: column;
  }
  .about-left-section {
    padding-top: 300px;
    margin-left: 5px !important;
  }
  .about-background-img {
    padding-top: 70px;
    width: 430px;
  }
  .about-foreground-img {
    width: 80%;
    left: 30px;
    top: 270px;
  }
  .about-right-section {
    width: 410px;
    padding-left: 0px;
  }

  .about-heading {
    font-size: 28px;
    margin-top: 25px;
    line-height: 46px;
  }
  .item-links > img {
    width: 400px;
  }
  .news-item-title > a {
    font-size: 20px;
  }
  .featured-items {
    flex-direction: column;
  }
  .featured-section {
    padding: 50px 0;
  }
  .link-normal-dish-name {
    font-size: 22px;
  }
  .featured-heading {
    font-size: 28px;
    line-height: 42px;
  }
  .featured-caption {
    margin: 0 50px;
  }
  .recent-news-dot {
    margin: 0 15px;
  }
  .res-menu-heading {
    font-size: 28px;
    line-height: 1.5;
  }
  .res-menu-container {
    flex-direction: column;
    height: auto;
  }
  .res-menu-tab-head {
    padding: 30px 0px;
  }
  .tab-head-first {
    margin-left: 0;
  }
  .tab-head-last {
    margin-right: 0;
  }
  .menu-tab-content {
    padding: 0px;
  }
  .res-menu-captions {
    margin: 0 30px;
  }
  .news-item-title {
    width: 450px;
  }
  .news-item-caption {
    width: 430px;
  }
  .gallary-row {
    flex-direction: column;
  }
  .gallary-item-row-one {
    width: 100vw;
  }
  .gallary-item-row-two {
    width: 100vw;
  }
  .recent-news-heading > h2 {
    font-size: 28px;
  }
  .recent-news-section {
    padding: 50px 0;
  }
  .recent-news-container {
    margin: 0px 2px;
    width: 100%;
  }
  .recent-news-item {
    padding: 33px 30px;
  }
  .recent-news-items {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .main-banner {
    height: 460px;
  }
  .banner-background {
    position: absolute;
    height: 360px;
    background-size: cover;
    z-index: -1;
  }
  .main-banner-heading {
    font-size: 30px;
    margin-bottom: -10px;
  }
  .main-banner-content {
    margin-bottom: 30%;
  }
  .main-banner-line {
    width: 50px;
    margin: 20px 0px;
  }
  .main-banner-caption {
    margin: 0 10px;
  }
  .cta-form-container {
    flex-direction: column;
    margin: 10px 20px;
  }
  .cta-form-section {
    top: -160px;
  }
  .label-heading {
    margin-top: 20px;
    font-size: 18px;
    margin: 5px -40px;
  }
  .label-input {
    height: 30px;
    width: 280px;
    border-bottom: 1px solid gray;
    margin: 0 -40px;
    margin-bottom: 15px;
  }
  #ctaBook {
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    margin: 10px -40px;
  }
  .select-label {
    border-bottom: 1px solid gray;
    width: 140%;
    border-radius: 0;
    margin: 10px -40px;
  }
  .form-block {
    padding: 10px 50px;
  }
  .date-selector {
    -webkit-appearance: ;
    -moz-appearance: ;
    appearance: ;
  }
  .about-section {
    padding-bottom: 15px;
    margin-top: -600px;
    flex-direction: column;
  }
  .about-left-section {
    margin-left: 5px !important;
  }
  .about-background-img {
    padding-top: 70px;
    width: 300px;
  }
  .about-foreground-img {
    width: 80%;
    left: 28px;
    top: 300px;
  }
  .about-right-section {
    margin-left: 10px !important;
    width: 300px;
    padding-left: 10px;
  }
  .about-heading {
    font-size: 28px;
    margin-top: 20px;
    line-height: 46px;
  }
  .about-caption {
    font-size: 15px;
    width: 100%;
  }
  .item-links > img {
    width: 100%;
  }
  .recent-news-section {
    padding: 50px 10px;
  }
  .recent-news-container {
    margin: 0px 30px;
    width: 90%;
  }
  .recent-news-item {
    padding: 33px 0px;
  }
  .recent-news-items {
    flex-direction: column;
  }
  .news-item-title {
    width: 90%;
  }
  .news-item-title > a {
    font-size: 20px;
  }
  .news-item-caption {
    width: 90%;
  }
  .featured-items {
    flex-direction: column;
  }
  .featured-section {
    padding: 50px 0;
  }
  .featured-heading {
    font-size: 28px;
    line-height: 42px;
  }
  .featured-caption {
    margin: 0 60px;
  }
  .restaurant-menu {
    padding: 50px 0;
  }
  .res-menu-heading {
    font-size: 28px;
    line-height: 1.5;
  }
  .res-menu-container {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .res-menu-tab-head {
    padding: 30px 0px;
  }
  .tab-head-first {
    margin-left: 0;
  }
  .tab-head-last {
    margin-right: 0;
  }
  .menu-tab-content {
    padding: 0px;
  }
  .res-menu-captions {
    margin: 0 30px;
  }
  .top-caption {
    margin: 20px;
  }
  .gallary-row {
    flex-direction: column;
  }
  .gallary-item-row-one {
    width: 100vw;
  }
  .gallary-item-row-two {
    width: 100vw;
  }
}
.show-input-error {
  outline: thick;
  margin-right: 2px;
  border-bottom: 1px solid red;
}
.error-message {
  color: red;
  font-size: 10px;
}
#invalidName {
  visibility: hidden;
  margin-top: -10px;
  margin-left: 100px;
}
#invalidPhone {
  visibility: hidden;
  margin-top: -10px;
  margin-left: 100px;
}
