.presentation {
  height: 110vh;
  display: flex;
  align-items: center;
}
.background {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("../images/background.jpg");
  width: 100%;
  height: 100%;
  background-position: top;
  z-index: -1;
}
.presentation-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner-heading {
  text-align: center;
  font-size: 86px;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 0.8px;
  line-height: 26px;
  font-family: var(--theme-sec-font);
  text-transform: uppercase;
  font-weight: 700;
}
.banner-hr {
  width: 60px;
  margin: 30px 0px;
  background-color: white;
}
.banner-caption {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 0 350px;
  font-weight: 300;
}
/*Header Element Css Ends*/
/*CTA Froms Start */
.cta-form {
  display: flex;
  justify-content: center;
  position: relative;
  top: -150px;
  z-index: 1;
}
.form-block {
  font-size: 25px;
  z-index: 1;
  display: flex;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px #323232;
  padding: 10px 20px;
}
.cta-form-container {
  display: flex;
  margin: 50px 10px;
  background-color: white;
  justify-content: center;
  align-content: center;
}
.cta-form-line {
  border-right: 1px solid #e7e7e7;
  flex: 1;
  margin-right: 30px;
}
.label-heading {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
  font-family: var(--theme-pri-font);
  color: #323232;
}
.label-input {
  width: 200px;
  height: 20px;
  border: none;
  color: black;
  font-size: 18px;
  background-color: white;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input::placeholder {
  color: black;
  font-size: 20px;
}
*:focus {
  outline: none;
}

.select-label {
  cursor: pointer;
  width: 50px;
  height: 25px;
  font-size: 18px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/down-arrow.png") 90% / 20% no-repeat #fff;
  background-size: contain;
}
.date-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#ctaBook {
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 20px;
  font-family: var(--theme-pri-font);
  font-size: 16px;
  background-color: #323232;
  cursor: pointer;
  color: white;
  border: none;
}
#ctaBook:hover {
  background-color: var(--theme-highlight);
}
/* CTA Forms End*/

/* About section CSS*/

.about {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px;
  padding-top: 200px;
  margin-top: -265px;
}
.about > div {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.about__left {
  position: relative;
  margin-left: 40px;
}
.about-back-img {
  padding-top: 0px;
  position: relative;
  border-radius: 10px;
}
.about-img {
  position: absolute;
  z-index: 1;
  top: -64px;
  left: 60px;
}
.about__right {
  padding-left: 100px;
}
.about-heading {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  margin-top: 0px;
  font-weight: bold;
  font-family: var(--theme-sec-font);
}
.about-caption {
  font-weight: 200;
  margin-bottom: 15px;
  font-size: 15px;
  max-width: 500px;
  color: rgba(21, 21, 21, 0.8);
  line-height: 25px;
}
.about-sign {
  margin-top: 20px;
}
/*About Element CSS End*/

/*Featured CSS Starts*/
.featured {
  background-color: white;
  padding-top: 115px;
  padding-bottom: 90px;
  text-align: center;
}
.featured-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-head {
  font-size: 45px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: var(--theme-sec-font);
}
.featured-caption {
  font-weight: 300;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 40px;
  color: rgba(21, 21, 21, 0.7);
  max-width: 700px;
}
.featured-items {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-items > div {
  padding: 0 18px;
}
.featured-item-1,
.featured-item-2,
.featured-item-3 {
  position: relative;
}
.item-links > img {
  width: 355px;
}
.item-links > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--theme-sec-font);
}
.dish-name {
  font-weight: bolder;
  margin-top: 15px;
  text-decoration: none;
  margin-bottom: 0px;
}
.dish-price {
  margin-top: 10px;
}

.link-normal-dish-name {
  text-decoration: none;
  font-family: var(--theme-sec-font);
  color: black;
  font-weight: 400;
  line-height: 36px;
}
.link-normal-dish-price {
  text-decoration: none;
  color: var(--theme-highlight);
  font-family: var(--theme-pri-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: var(--theme-highlight);
  color: white;
  text-transform: uppercase;
  font-family: var(--theme-pri-font);
  font-size: 16px;
  padding: 10px;
}
.middle :hover {
  background-color: #323232;
}

.item-links:hover .image {
  opacity: 0.6;
}
.item-links:hover .middle {
  opacity: 1;
}
/* Restaurant Menu Starts */
.res-menu {
  padding: 115px 0;
  background-color: whitesmoke;
  padding-bottom: 100px;
}
.res-menu-heading {
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 60px;
  font-family: var(--theme-sec-font);
}
.res-menu-container {
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.res-menu-tab-head {
  background-color: #323232;
  color: rgb(99, 99, 99);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 0;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  justify-content: center;
  padding: 50px 0px;
}
.top-caption {
  margin: 45px 80px;
}
.tab-head-first {
  margin-left: 30%;
}
.tab-head-last {
  margin-right: 30%;
}
.res-menu-captions {
  background-color: white;
  margin: 0 150px;
  padding: 10px;
  margin-bottom: px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: justify;
}
.menu-tab-content {
  padding: 0px 160px;
}
.res-menu-item-price {
  color: var(--theme-highlight);
  font-size: 18px;
  display: block;
  margin: 10px 0;
}
.res-menu-item-name {
  color: black;
  font-size: 25px;
  display: block;
  font-weight: 400;
  margin: 10px 0;
  font-family: var(--theme-sec-font);
}
.res-menu-item-name > a {
  color: black;
  text-decoration: none;
}
.res-menu-item-name > a:hover {
  color: var(--theme-highlight);
}
.res-menu-item-name > a:active {
  color: var(--theme-highlight);
}
.res-menu-item-caption {
  display: block;
  color: rgba(21, 21, 21, 0.8);
  font-size: 14px;
  margin: 10px 0;
  margin-bottom: 50px;
}
.res-menu-tab-head:hover {
  color: rgb(255, 255, 255);
}
.tabcontent {
  display: none;
  padding: 50px 0px;
}
/* Gallary Section */

.gallary-container {
  width: 70vw;
}
.gallary-row {
  cursor: pointer;
  display: flex;
  width: 30vh;
}
.gallary-item-row-one {
  flex: 1;
  width: 33.4vw;
}
.gallary-item-row-two {
  flex: 1;
  width: 50vw;
}
.gallary-modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-modal {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 20px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: var(--theme-highlight);
  text-decoration: none;
  cursor: pointer;
}
.gallarySlides {
  display: none;
}
.gallarySlides > img {
  width: 70%;
  margin: 10% 20%;
}
.prev-slide,
.next-slide {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev-slide {
  left: 0;
}
.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-slide:hover,
.next-slide:hover {
  color: var(--theme-highlight);
}
/* Recent News Section  */
.recent-news-section {
  padding: 115px 0px;
}
.recent-news-heading > h2 {
  font-size: 45px;
  text-align: center;
  font-family: var(--theme-sec-font);
  margin: 0;
}
.recent-news {
  margin-bottom: 40px;
}
.recent-news-items {
  display: flex;
  justify-content: space-between;
}
.recent-news-container {
  margin: 0px 150px;
  margin-top: 40px;
  width: 82%;
}
.recent-news-item {
  flex: 1;
  padding: 33px 10px;
}
.item-date {
  margin-top: 10px;
  display: block;
}
.item-date > a {
  padding: 10px;
  font-size: 15px;
  background-color: #323232;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.item-date > a:hover {
  background-color: var(--theme-highlight);
}
.item-title {
  display: block;
  margin-top: 30px;
  width: 350px;
}
.item-title > a {
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
  color: black;
  font-family: var(--theme-sec-font);
  text-decoration: none;
}
.item-title > a:hover {
  color: var(--theme-highlight);
}
.item-caption {
  margin-top: 20px;
  width: 350px;
  display: block;
  color: rgba(21, 21, 21, 0.8);
  font-size: 15px;
  margin-top: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}
.item-link {
  position: absolute;
}
.item-link > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.item-link > a:hover {
  text-decoration: none;
  color: var(--theme-highlight);
}

.recent-news-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active,
.recent-news-dot:hover {
  background-color: var(--theme-highlight);
}
@media  (min-width: 1200px) {
  .presentation {
    height: 90vh;
  }
  .item-links > img {
    width: 280px;
  }
  .about {
    padding: 50px;
    padding-top: 200px;
  }
  .about__right {
    padding-left: 50px;
  }
  .item-title {
    width: 300px;
  }
  .item-caption {
    width: 250px;
  }
  .recent-news-container {
    margin: 20px;
  }
  .recent-news-item {
    flex: 1;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .presentation {
    height: 500px;
  }
  .background {
    position: absolute;
    height: 300px;
    background-size: cover;
    z-index: -1;
  }
  .banner-heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .banner-hr {
    width: 50px;
    margin: 20px 0px;
  }
  .banner-caption {
    margin: 0 10px;
  }
  .cta-form-container {
    flex-direction: column;
    margin: 10px 20px;
  }
  .cta-form {
    top: -115px;
  }
  .label-heading {
    margin-top: 20px;
    font-size: 18px;
    margin: 5px -40px;
  }
  .label-input {
    height: 30px;
    width: 130%;
    border-bottom: 1px solid gray;
    margin: 0 -40px;
    margin-bottom: 15px;
  }
  #ctaBook {
    text-transform: uppercase;
    font-size: 14px;
    width: 90%;
    margin: 10px -40px;
  }
  .select-label {
    border-bottom: 1px solid gray;
    width: 130%;
    border-radius: 0;
    margin: 10px -40px;
  }
  .form-block {
    padding: 10px 50px;
  }
  .about-back-img {
    width: 340px;
  }
  .about {
    padding-bottom: 15px;
    flex-direction: column;
  }
  .about__left {
    margin-left: 5px !important;
  }
  .about-back-img {
    padding-top: 70px;
    width: 300px;
  }
  .about-img {
    width: 80%;
    left: 28px;
    top: 0px;
  }
  .about__right {
    margin-left: 10px !important;
    width: 300px;
    padding-left: 10px;
  }

  .about-heading {
    font-size: 28px;
    margin-top: 20px;
    line-height: 46px;
  }
  .item-links > img {
    width: 300px;
  }
  .item-title {
    width: 250px;
  }
  .item-title > a {
    font-size: 20px;
  }
  .featured-items {
    flex-direction: column;
  }
  .featured {
    padding: 50px 0;
  }
  .featured-head {
    font-size: 28px;
    line-height: 42px;
  }
  .featured-caption {
    margin: 0 20px;
  }
  .res-menu {
    padding: 50px 0;
  }
  .res-menu-heading {
    font-size: 28px;
    line-height: 1.5;
  }
  .res-menu-container {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .res-menu-tab-head {
    padding: 30px 0px;
  }
  .tab-head-first {
    margin-left: 0;
  }
  .tab-head-last {
    margin-right: 0;
  }
  .menu-tab-content {
    padding: 0px;
  }
  .res-menu-captions {
    margin: 0 30px;
  }
  .top-caption {
    margin: 20px;
  }
  .item-caption {
    width: 250px;
  }
  .gallary-row {
    flex-direction: column;
  }
  .gallary-item-row-one {
    width: 100vw;
  }
  .gallary-item-row-two {
    width: 100vw;
  }
  .recent-news-section {
    padding: 50px 0;
  }
  .recent-news-container {
    margin: 0px 2px;
    width: 100%;
  }
  .recent-news-item {
    padding: 33px 30px;
  }
  .recent-news-items {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .presentation {
    height: 500px;
  }
  .background {
    position: absolute;
    height: 300px;
    background-size: cover;
    z-index: -1;
  }
  .banner-heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .banner-hr {
    width: 50px;
    margin: 20px 0px;
  }
  .banner-caption {
    margin: 0 10px;
  }
  .cta-form-container {
    flex-direction: column;
    margin: 10px 20px;
  }
  .cta-form {
    top: -115px;
  }
  .label-heading {
    margin-top: 20px;
    font-size: 18px;
    margin: 5px -40px;
  }
  .label-input {
    height: 30px;
    width: 130%;
    border-bottom: 1px solid gray;
    margin: 0 -40px;
    margin-bottom: 15px;
  }
  #ctaBook {
    text-transform: uppercase;
    font-size: 14px;
    width: 90%;
    margin: 10px -40px;
  }
  .select-label {
    border-bottom: 1px solid gray;
    width: 130%;
    border-radius: 0;
    margin: 10px -40px;
  }
  .form-block {
    padding: 10px 50px;
  }
  .about-back-img {
    width: 340px;
  }
  .about {
    padding-bottom: 15px;
    flex-direction: column;
  }
  .about__left {
    margin-left: 5px !important;
  }
  .about-back-img {
    padding-top: 70px;
    width: 300px;
  }
  .about-img {
    width: 80%;
    left: 28px;
    top: 0px;
  }
  .about__right {
    margin-left: 10px !important;
    width: 300px;
    padding-left: 10px;
  }

  .about-heading {
    font-size: 28px;
    margin-top: 20px;
    line-height: 46px;
  }
  .item-links > img {
    width: 300px;
  }
  .item-title {
    width: 250px;
  }
  .item-title > a {
    font-size: 20px;
  }
  .featured-items {
    flex-direction: column;
  }
  .featured {
    padding: 50px 0;
  }
  .featured-head {
    font-size: 28px;
    line-height: 42px;
  }
  .featured-caption {
    margin: 0 20px;
  }
  .res-menu {
    padding: 50px 0;
  }
  .res-menu-heading {
    font-size: 28px;
    line-height: 1.5;
  }
  .res-menu-container {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .res-menu-tab-head {
    padding: 30px 0px;
  }
  .tab-head-first {
    margin-left: 0;
  }
  .tab-head-last {
    margin-right: 0;
  }
  .menu-tab-content {
    padding: 0px;
  }
  .res-menu-captions {
    margin: 0 30px;
  }
  .top-caption {
    margin: 20px;
  }
  .item-caption {
    width: 250px;
  }
  .gallary-row {
    flex-direction: column;
  }
  .gallary-item-row-one {
    width: 100vw;
  }
  .gallary-item-row-two {
    width: 100vw;
  }
  .recent-news-section {
    padding: 50px 0;
  }
  .recent-news-container {
    margin: 0px 2px;
    width: 100%;
  }
  .recent-news-item {
    padding: 33px 30px;
  }
  .recent-news-items {
    flex-direction: column;
  }
}
