@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700");

:root {
  --theme-highlight: #41a451;
  --theme-background: #323232;
  --theme-pri-font: "Poppins", sans-serif;
  --theme-sec-font: "PT Serif", serif;
}
*::-moz-selection {
  background-color: var(--theme-highlight);
  color: white;
}
*::selection {
  background-color: var(--theme-highlight);
  color: white;
}
html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  width: 100%;
  font-family: var(--theme-pri-font);
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: var(--theme-highlight);
  color: white;
}
*::selection {
  background-color: var(--theme-highlight);
  color: white;
}
/* Header Section*/
.mobile-header {
  display: none;
}
.header {
  display: flex;
  z-index: 3;
  background-color: var(--theme-background);
  position: fixed;
  width: 100%;
  height: 91px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px rgba(21, 21, 21, 0.2);
}
.header-logo {
  margin-left: 20px;
  display: flex;
  width: 140px;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.header-navigation-links {
  flex: 8;
  list-style: none;
  display: flex;
  padding: 0px 40px;
  justify-content: center;
}
.header-navigation-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: var(--theme-pri-font);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin: 0px 30px;
}
.active-navigation-bar {
  color: var(--theme-highlight);
}
.header-navigation-link:hover {
  color: var(--theme-highlight);
}
#headerBookingBtn {
  margin-right: 20px;
  padding: 8px 25px;
  display: inline-block;
  size: 10px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid white;
  font-family: var(--theme-pri-font);
  box-shadow: 0 0 15px rgba(21, 21, 21, 0.15);
}
#headerBookingBtn:hover {
  outline: none;
  background-color: black;
  color: snow;
  border: 1px solid black;
}
#mobileBookingBtn {
  margin: 10px;
  margin-top: 14px;
  padding: 8px 25px;
  display: inline-block;
  size: 10px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid white;
  font-family: var(--theme-pri-font);
  box-shadow: 0 0 15px rgba(21, 21, 21, 0.15);
}
/* Top Button*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: var(--theme-highlight);
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  animation: mymove 0.5s;
}
@keyframes mymove {
  from {
    bottom: -50px;
  }
  to {
    bottom: 20px;
  }
}
*:focus {
  outline: 0;
}
#topBtn:hover {
  background-color: black;
}
/* Footer */
.footer {
  background-color: var(--theme-background);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  display: block;
  margin-bottom: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0px;
}
.vertical-line {
  height: 30px;
  border-right: 1px solid white;
}
.footer-link {
  margin: 0 5px;
  text-decoration: none;
  list-style: none;
}
.footer-link > a {
  display: flex;
  color: white;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  font-family: var(--theme-pri-font);
  text-transform: uppercase;
}
.footer-link > a:hover {
  color: var(--theme-highlight);
}
.social-links {
  display: flex;
  flex-direction: column;
}
.footer-social-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.footer-social-link {
  margin-right: 25px;
}
.footer-social-link > a > i {
  font-size: 25px;
  color: white;
  margin: 10px;
  padding: 12px;
  width: 25px;
  text-align: center;
  background-color: #3c3c3c;
  outline: none;
  border-radius: 50%;
}
.footer-social-link > a > i:hover {
  background-color: var(--theme-highlight);
}
.footer-caption {
  color: rgb(151, 151, 151);
  margin-top: 80px;
  font-size: 14px;
}
.footer-caption > a {
  color: rgb(151, 151, 151);
  text-decoration: none;
}
.footer-caption > a:hover {
  color: var(--theme-highlight);
}
@media (max-width: 768px) {
  html,
  body {
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
  }
  .header {
    display: none;
  }
  .mobile-header {
    display: block;
    position: fixed;
    width: 100vw;
    height: 10px;
    z-index: 3;
  }
  .mobile-header-logo {
    margin-left: 42px;
    width: 100px;
  }
  .mobile-navigation {
    background-color: #444141;
    position: relative;
    width: 100%;
  }
  .mobile-navigation #navigationLinks {
    display: none;
  }
  .mobile-navigation a {
    color: white;
    font-family: var(--theme-pri-font);
    padding: 5px 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .mobile-navigation a.icon,
  .icon:hover {
    background: #444141;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    outline: none;
  }
  .navigation-active {
    color: white;
    background-color: var(--theme-highlight);
  }
  .footer {
    width: 100%;
    height: 600px;
    padding: 0;
  }
  .footer-logo {
    padding: 10px;
  }
  .footer-link-container {
    margin-top: 4px;
    width: 10px;
  }
  .footer-links {
    flex: 1;
    justify-content: center;
    flex-direction: column;
  }
  .vertical-line {
    display: none;
  }
  .footer-social-link {
    padding: 0;
    margin: 10px;
  }
  .footer-social-link-container {
    padding-top: 0px;
  }
  .footer-social-link > a > i {
    padding: 10px;
    margin: 5px;
    width: 20px;
    font-size: 20px;
  }
  .footer-caption {
    font-size: 15px;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    color: rgb(151, 151, 151);
  }
}
